<h1> Word Count</h1>
<hr>
   <h3 style="text-align:center">Enter a word</h3>
  <form action='/word_count'>
  <div class="form-group">

    <label for="word"></label>
    <input  id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sentence"></label>
    <h3>Enter sentence</h3>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
<button type="submit" class="btn btn-success">press</button>
