<!DOCTYPE html>
  <html>
    <head>
      <title>word_count!</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link rel= 'stylesheet' href="css/styles.css">
    </head>
    <body>
      <div style="background-color:black";  class="container">
      <div class="container outlet">
        <%= yield %>
      </div>
    </div>
    <hr>
    <div  style="background-color:black; hieght:200px; text-align:center; color:red"; class="container">
           <h1>Contact Us</h1>
      <h3>www.wordcount.com<h3>
      </div>
    </hr>
    </body>
  </html>
